/* #profileDropdownContainer {
    right: 10px;
    display: none;
    width: 100%;
} */

#profileDropdown {
    position: absolute;
    top: 80px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: rgb(175, 93, 211);
    border-radius: 0 0 0 10px;
}

#profileDropdown .linkk {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: 600;
    border-bottom: 1px solid rgba(97, 58, 174, 0.5);
    transition: all 0.3s;
}

#profileDropdown .linkk:last-child {
    border-bottom: none;
}

#profileDropdown .linkk:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#profileDropdown .linkk:last-child:hover {
    border-radius: 0 0 0 10px;
}