#bannerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 400px;
    background-color: rgb(196, 198, 255);
}

.bannerInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.bannerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.bannerInfo h2, .bannerInfo p {
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.bannerButtons {
    display: flex;
    gap: 30px;
}

.bannerButtons button {
    padding: 5px 20px;
    border: 2px solid;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(210, 114, 230);
    box-shadow: rgba(51, 10, 62, 0.5) -15px -15px 25px inset, rgba(177, 16, 126, 0.796) 20px 20px 35px inset;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.bannerButtons button:hover {
    box-shadow: rgba(51, 10, 62, 0.5) 15px 15px 25px inset, 
    rgba(177, 16, 126, 0.796) -20px -20px 35px inset,
    1px 1px 5px rgb(0, 0, 0);
}

.bannerImageContainer {
    display: flex;
    align-items: center;
    width: 380px;
    height: 380px;
}

.maskedImage {
    width: 380px;
    height: 380px;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 70%);
}